out/production/Projecto #1/com/github/monstertecg/sockets/Conectividad.class
out/production/Projecto #1/com/github/monstertecg/main/Main.class
out/production/Projecto #1/com/github/monstertecg/logs/LoggingHandler.class
